<div class="container">
	<form action="/posts" method="POST">
		Enter a new post: 
		name: <input type="text" name="post[name]"><br>
		price: <input type="text" name="post[price]"><br>
		email: <input type="text" name="post[email]"><br>
		<input type="text" name="post[email]"><br>
		<input type="submit" value="Submit!">
	</form>
</div>